[submodule "thirdparty/jinja2cpp"]
	path = subprojects/jinja2cpp
	url = https://github.com/flexferrum/Jinja2Cpp.git
[submodule "subprojects/boost"]
	path = subprojects/boost
	url = https://github.com/boostorg/boost.git
