[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/jinja2cpp"]
	path = thirdparty/jinja2cpp
	url = https://github.com/flexferrum/Jinja2Cpp.git
