{
    "modules": {
        "default-vendor": "{{ default_vendor }}",
        "default-location": "{{ default_module_location }}"
    },
    "components": {
        "default-vendor": "{{ default_vendor }}",
        "default-location": "{{ default_component_location }}"
    },
    "js-extensions": {
        "default-vendor": "{{ default_vendor }}",
        "default-location": "{{ default_js_extension_location }}"
    }
}