{
    "components": {
        "default-vendor": "",
        "default-location": ""
    },
    "modules": {
        "default-vendor": "",
        "default-location": ""
    },
    "js-extensions": {
        "default-vendor": "",
        "default-location": ""
    }
}